# Dependencies
node_modules/
.pnpm-store/

# Env
.env
.env.local
.env.*.local

# Build outputs
dist/
build/
.next/
out/

# Prisma
apps/api/generated/
packages/**/generated/

# Expo / React Native
.expo/
.expo-shared/
apps/mobile/ios/
apps/mobile/android/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editors / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# Testing
coverage/

# Misc
*.tsbuildinfo
